		<div class="title">
			<span class="title_icon"><img src="images/bullet1.gif" alt="" title="" /></span>Meu carrinho
		</div>
		<div class="clear"></div>
		
		<p class="simpleCart_empty_cart"><a href="javascript:;" class="simpleCart_empty">Limpar carrinho</a></p>
		<table class="simpleCart_items">
		</table>
		<p class="total">Total: <span class="simpleCart_finalTotal"></span> + frete</p>

		<a href="/" class="button continue">&lt; continuar comprando</a>
		<a href="javascript:;" class="button checkout simpleCart_checkout">finalizar pedido &gt;</a>

