		<div class="title">
			<span class="title_icon"><img src="images/bullet1.gif" alt="" title="" /></span>Meu carrinho
		</div>
		<div class="clear"></div>
		
		<p class="simpleCart_empty_cart">
			<%=link_to "Limpar carrinho", "javascript:;", :class => "simpleCart_empty" %>
		</p>
		<table class="simpleCart_items"></table>
		<p class="total">Total: <span class="simpleCart_finalTotal"></span> + frete</p>

		<%=link_to "« continuar comprando", categories_url, :class => "button continue" %>
		<%=link_to "finalizar pedido »", "javascript:;", :class => "button checkout simpleCart_checkout" %>

