	<ul>
		<li class="simpleCart_shelfItem">
			<h2 class="item_name">Produto 1</h2>
			<span class="item_price">$17.98</span>		
			<input type="text" class="item_quantity" value="1" />
			<input type="hidden" class="item_size" value="0.1" />
			<input type="button" class="item_add" value="add to cart" />
		</li>
		<li class="simpleCart_shelfItem">
			<h2 class="item_name">Produto 2</h2>
			<span class="item_price">$8.00</span>		
			<input type="text" class="item_quantity" value="1" />
			<input type="hidden" class="item_size" value="0.1" />
			<input type="button" class="item_add" value="add to cart" />
		</li>
		<li class="simpleCart_shelfItem">
			<h2 class="item_name">Produto 3</h2>
			<span class="item_price">$0.98</span>		
			<input type="text" class="item_quantity" value="1" />
			<input type="hidden" class="item_size" value="1" />
			<input type="button" class="item_add" value="add to cart" />
		</li>
	</ul>