<div class="title">
	<span class="title_icon"><img src="/images/bullet1.gif" alt="" title="" /></span>Produtos<%= " » #{@category.name}" if @category.present? %>
</div>

<div class="new_products">
<% @products.each do |product| %>
	<div class="product_box">
		<div class="product">
			<%=image_link_to product %>

			<p><%=link_to truncate(product.name), product_url(product.friendly_id) %><span class="price"><%=link_to raw(%[<span class="list_price">#{number_to_currency(product.list_price)}</span> #{number_to_currency(product.price)}]), product_url(product.friendly_id) %></span></p>
		</div>          
	</div>
<% end %>
</div>